<section class="message">
  <div class="container">
    <div class="message-container">
      <div class="message-title">
        <h4 class="sub-title">Speak out. Be heard.</h4>
        <h3 class="title">Be counted</h3>
      </div>
      <div class="message-text">
        <p class="text">Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.</p>
      </div>
      <div class="message-close">
        <img src="./assets/images/close.png" alt="">
      </div>
    </div>
  </div>
</section>