<footer>
  <div class="container">
    <div class="row footer">
      <div class="col-md-6 col-sm-6">
        <ul class="links">
          <li class="links-item">Terms and Conditions</li>
          <li class="links-item">Privacy Policy</li>
          <li class="links-item">Contact Us</li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="social-network">
          <li class="social-item">Follow Us</li>
          <li class="social-item">
            <img src="./assets/images/facebook.png" alt="">
          </li>
          <li class="social-item">
            <img src="./assets/images/twitter.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>